.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 0px 20px 0 51px;
    padding: 92px 0 92px 0;
  }
  
  .links-list {
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    width: 388px;
    list-style-type: '○  ';
  }
  
  .links-list_item {
    font-size: 18px;
    text-decoration: underline;
  }
  
  .links-item_active {
    text-decoration: none;
    list-style-type: none;
  }
  
  .header__logo {
    flex-shrink: 0;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
  }
  
  .address {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-self: end;
    width: 240px;
  }
  
  .address_item {
    display: block;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    text-transform: none;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
  }
  
  .main__cover {
    position: relative;
    z-index: 0;
    min-height: 757px;
    width: 100%;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    background-color: #000A;
  }
  
  .main__cover_title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    gap: 10px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  
  .main__cover_title_item-left {
    display: block;
    line-height: 115%;
  }
  
  .main__cover_title-item_center {
    display: block;
    line-height: 35%;
    text-align: center;
  }
  
  .main__cover_title-item_right {
    display: block;
    line-height: 95%;
    text-align: right;
  }

  .main__cover_title-item_letter-spacing {
    letter-spacing: 60px;
  }
  
  .main__cover_title-item_without-letter-spacing {
    letter-spacing: 30px;
  }
  
  .main__cover_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 968px;
    margin: 135px 0 0 auto;
  }
  
  .main__cover_description-text {
    color: #FFF;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 18px;
  }
  
  .main__cover_bet-button {
    flex-shrink: 0;
    width: 257px;
    height: 52px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    background-color: #0000;
  }
  
  .main__lots {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    gap: 25px;
    width: calc(100% - 100px);
    min-height: 579px;
  }
  
  .main__lots_title {
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .main__lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style-type: none;
  }
  
  .main__lots_card {
    position: relative;
    max-width: 430px;
    min-height: 450px;
    padding: 50px 40px;
    background-size: contain;
  }
  
  .main__lots_card-article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px;
    min-height: 350px;
  }
  
  .main__lots_card-title {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  
  .main__lots_card-text {
    color: #FFF;
    font-size: 20px;
    line-height: 120%;
  }
  
  .main__lots_card-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .main__lots_look-more-link {
    margin-left: 40px;
    font-size: 20px;
  }
  
  .main__about-lots {
    display: grid;
    flex-shrink: 0;
    width: calc(100% - 100px);
    min-height: 487px;
    grid-template: 1fr 1fr / 430px 1fr;
  }
  
  .main__about-lots_logo_box {
    display: flex;
    flex-shrink: 0;
    grid-area: 1/1;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 240px;
    min-height: 240px;
    border-radius: 100%;
    background-color: #000;
  }
  
  .main__about-lots_logo {
    flex-shrink: 0;
    width: 148px;
    height: 114px;
  }
  
  .main__about-lots_header {
    grid-area: 1/2;
    align-self: center;
    padding-left: 25px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .main__about-lots_text {
    display: flex;
    flex-direction: column;
    grid-area: 2/2;
    justify-self: center;
    gap: 25px;
    align-self: end;
    padding-left: 25px;
  }
  
  .main__about-lots_column {
    display: block;
    width: 100%;
    font-size: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1340px;
    padding: 0 50px;
    margin: 180px 0 90px 0;
  }
  
  .footer__menu_links-list {
    display: inline-block;
    justify-self: center;
    justify-content: space-between;
    width: 149px;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
  }
  
  .footer__socials_image {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
  }
  
  .footer__socials-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    list-style-type: none;
  }